/*******Layout Styles*******/
html {
    font-size: 1.125em; /*18/16=1.125*/
    line-height: 1.278em; /*23/18=1.2777*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
main{
    display:block;
    padding: 1em; /*18/18=1*/
    margin: auto;
    max-width: 38em; /*684/18=38*/
}
h1,
h2{
    text-align: center;
}
figure{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.50em 0; /*9/18=0.50*/
}
img{
    border-style: solid;
    border-radius: 5em; /*90/18=5*/
    border-width: 0.111em; /*2/18=0.1111*/
    width: 18%;
    max-width: 7em; /*126/18=7*/
}