/*******Layout Styles*******/
html {
  font-family: "Monsterrat", "Sofia Sans", Times, sans-serif;
  font-size: 1.125em; /*18/16=1.125*/
  line-height: 1.278em; /*23/18=1.2777*/
  text-rendering: optimizeLegibility;
  overflow-x: hidden
}
nav a{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}
main{
  background-color: rgb(236, 240, 241);
  display:block;
  padding: 1em; /*18/18=1*/
  margin: auto;
}
h2{
  line-height: 1.278em; /*23/18=1.2777*/
  text-align: center;
  padding: 0;
}
figure img{
  border-style: solid;
  border-radius: 5em; /*90/18=5*/
  border-width: 0.111em; /*2/18=0.1111*/
  width: 18%;
  max-width: 7em; /*126/18=7*/
}
.director {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.50em 0; /*9/18=0.50*/
}
.director-info{
  padding-left: 0.50em; /*9/18=0.50*/
}
.director-name,
.director-position {
  padding: 0;
}
.mission-statement{
  margin: 1em 0 1em 0; /*18/18*/
  padding: 0;
}
.list-objectives{
  margin: 0 0 0 1.50em; /*27/18=1.50*/
}
.list-objectives li{
  line-height: 1.444em; /*24px/18=1.4444*/
  display: list-item;
  list-style-type: circle;
  padding: 0.444em 0 0.444em 0; /*8/18=0.4444*/
}
#section-objectives, #section-constitution{
  margin: 2.222em 0 1em 0; /*40/18=2.222 AND 18/18=1*/
}


li{
  margin: 0;
  padding: 0;
}
.btn-articles{
  background-color: rgb(70, 166, 175);
  text-align: left;
  margin: 0.222em 0;
  padding: 0.50em 1em;
  width: 100%;
}
#article1,
#article2,
#article3,
#article4,
#article5{
  padding: 1em;
  display: none;
}

@media only screen and (min-width: 31em) { /*496/16=31*/
  figure img{
    width: 60%;
    max-width: 100%;
  }
  #board-of-directors{
    display: flex;
    flex-wrap: wrap;
  }
  .director{
    display: block;
    text-align: center;
    margin: 1em auto 0 auto;
  }
  .director-info{
    padding: 0;
  }
  .list-objectives{
    margin: 0 0 0 3em; /*54/18=3*/
  }
}
@media only screen and (min-width: 600px) {
  main {
    width: 94%;
    max-width: 50em; /*900/18=50*/
  }
}