a {
  color: grey;
}

strong {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  main {
    width: 95%;
    margin: auto;
  }

  div.container {
    padding: 1em;
    box-sizing: border-box;
    clear: both;
  }

  div.image-container {
    display: block;
  }

  div.float div.image-container {
    float: left;
    width: 25%;
  }

  div.float div.container {
    float: left;
    clear: none;
    width: 75%;
    height: 465px;
  }
}